  html,
body {
  height: 100%;
}

body {
  font-family: "Quicksand";
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

header {
    background-color: #f9f9f9;
    display: block;
    height: 130px;
    margin-bottom: 30px;
    padding: 40px;
    align-content: center;
  }

ul {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 11px;
    list-style-type: none;
    margin-left: 180px;
    margin-top: -30px;
    position: center;
}

li {
    display: inline;
    text-align: absolute;
    margin: 25px;
}

li a:hover {
    background-color: #transparent;
    color: black;
}

#logo img {
   height: 10%;
   width: 10%;
   margin-left: 40px;
 }

.animated_link2 a {
  position: relative;
  color: $black;
}
.animated_link2 a:hover {
  color: $black;
}
.animated_link2 a:before {
  content: "";
  position: absolute;
  width: 100%;
  margin-bottom: -3px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.animated_link2 a:hover:before {
  visibility: visible;
  background-color: #000000;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a:link {
  color: none;
  text-decoration: none;
}

  html, body, #quizzie {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Helvetica';
  font-size: 20px;
  font-weight: 600;
  margin-top: -2px;
}

h2, p {
  font-family: 'Helvetica';
  font-size: 12px;
  font-weight: 600;
}

h1, h2, p {
  text-align: center;
  display: block;
  width: auto;
  margin: 1%;
}

#quizzie {
  padding: 5% 0;
  /* Individual Steps/Sections */
  /* Content */
}
#quizzie ul {
  list-style: none;
  display: block;
  width: auto;
  margin: 1% 1%;
  padding: 0%;
  overflow: auto;
  display: none;
  /* Step Questions and Answer Options */
}
#quizzie ul.current {
  display: block;
}
#quizzie ul li {
  display: inline-block;
  float: center;
  width: 75px;
  height: 100%;
  margin-right: 2%;
  overflow: auto;
  text-align: center;
}
#quizzie ul li.quiz-answer {
  cursor: pointer;
}
#quizzie ul li.question, #quizzie ul li.results-inner {
  display: block;
  float: none;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: -30px;
}
#quizzie ul li.results-inner {
  padding: 5% 2%;
}
#quizzie ul li.results-inner img {
  width: 250px;
}
#quizzie ul li:last-child {
  margin-right: 0;
}
#quizzie .question-wrap, #quizzie .answer-wrap {
  display: block;
  padding: 1%;
  margin: 1em 10%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#quizzie .answer-wrap {
  width: 60px;
  background: #f9dad0;
  margin-top: 10px;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
#quizzie .answer-wrap:hover {
  background: #dbaa9b;
}

#footer {
  font-family: 'Helvetica';
  font-weight: 300;
  font-size: 10px;

 }